<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953111851263-3mamha7f61fmf70sb765pq873b0ge220.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953111851263-3mamha7f61fmf70sb765pq873b0ge220</string>
	<key>API_KEY</key>
	<string>AIzaSyDTzHwVE-NtsqRa_rtAlLZr-ioaz2155lo</string>
	<key>GCM_SENDER_ID</key>
	<string>953111851263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capProject</string>
	<key>PROJECT_ID</key>
	<string>cmsc4513-bmw-capstone</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc4513-bmw-capstone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953111851263:ios:4d40152cd7ed2b185c5cca</string>
</dict>
</plist>